<?xml version="1.0"?>
<launch>

  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/shankrith/RRT_ROS_WS/src/rrt/launch/rviz_config.rviz" />
  <node name="rrt1" pkg="rrt" type="rrt_planning" args="_obstacleFile:=/home/shankrith/RRT_ROS_WS/src/rrt/src/obstacles.txt" launch-prefix="terminator --new-tab -e " />
  
  

</launch>